/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------
                        Custom Styles
----------------------------------------------------------*/
html{
	font-family: 'Roboto', sans-serif;
}

p{
	font-size: 14px;
}

*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5{
	font-family: 'Poppins', sans-serif;
}

/* Styling the Skip-Link */
.skip-link{
	background-color: #F7FBFC;
	font-weight: 700;
	position: absolute;
	left: 0;
	transform: translateY(-500%);
	transition: transform .3s;
}

/* Styling the Navigation */
.topbar{
	display: flex;
	justify-content: left;
	align-items: center;
}

header{
	background-color: #46526A;
	text-align: center;
	width: 100%;
}

.logo{
	width: 2rem;
	margin: .5rem;
}

nav{
	display: none;
	background-color: #46526A;
	z-index: 999;
	position: absolute;
	text-align: right;
	right: 0;
	top: 1.5rem;
	padding: 2rem;
}

.socials ul{
	display: flex;
	padding-left: 0;
	margin: auto 2rem;
}

.socials li a{
	padding: 0 .2rem 0 .2rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: #FEC2C2;
	transition: color .3s;
}

.socials li a:hover{
	color: #B9CDF2;
}

nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0;
}

nav ul a{
	padding: .5rem;
	text-decoration: none;
	color: #B6F2E8;
	font-family: 'Poppins', sans-serif;
}

nav ul a:hover{
	color: #FEC2C2;
}

nav .current{
	background-color: #6289CC;
	border-radius: 30px;
	color: #FEC2C2;
}

.nav-toggle{
	display: none;
}

.nav-toggle-label{
	z-index: 99999;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 1rem;
	margin-top: 1rem;
	display: flex;
	align-items: center;
}

.nav-toggle-label .fas{
	font-size: 2rem;
	color: #B6F2E8;
}

.nav-toggle:checked ~ nav{
	display: block;
}


/* Styling the Header */
.main h2{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    color: #6289cc;
}

/* Styling the Main Section */
.main{
    max-width: 960px;
	padding: 1rem;
    margin: 0 auto;
	margin-bottom: 2rem;
    column-gap: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    "A A"
    "B D "
    "C C";
}

.about{
    box-shadow: 2px 2px 4px #000;
    padding: 1rem;
	margin: 0 auto;
	max-width: 100%;
}

.about h3{
    color: #6289cc;
    text-align: center;
}

.image{
	display: none;
}

.image img{
    max-width: 400px;
}

.about-socials{
    margin: 1rem auto 5rem auto;
}

.about-socials ul{
	display: flex;
	padding-left: 0;
}

.about-socials li a{
	padding: 0 .2rem 0 .2rem;
	text-decoration: none;
	font-size: 2rem;
	color: #FEC2C2;
	transition: color .3s;
}

.about-socials li a:hover{
	color: #B9CDF2;
}

h2{
    grid-area: A;
}

.about{
    grid-area: B;
}

.image{
    grid-area: D;
}

.about-socials{
    grid-area: C;
}





/* Styling the Footer */
footer{
	width: 100%;
	position: absolute;
	bottom: 0;
}

.footer-parent{
	background-color: #46526A;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 1rem 2rem 0 2rem;
	align-items: center;
}

.footer-child1{
	display: none;
}

/* Footer - Socials */
.footer-socials{
	margin-top: .1rem;
}
.footer-socials ul{
	display: flex;
	padding-left: 0;
	margin-bottom: .1rem;
}


.footer-socials ul li a{
	padding: 0 .2rem 0 .2rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: #FEC2C2;
	transition: color .3s;
}

.footer-socials ul li a:hover{
	color: #B9CDF2;
}

.footer-socials p{
	font-family: 'Poppins', sans-serif;
	color: #B9CDF2;
	font-size: .8rem;
	padding: 0;
}

/* Footer - Contact Me */
.footer-child4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	font-family: 'Poppins', sans-serif;
}

.footer-child4 i{
	color: #FEC2C2;
	padding-bottom: .5rem;
}

.footer-child4 a{
	text-decoration: none;
	color: #B9CDF2;
	font-size: .8rem;
}

.footer-child4 a:hover{
	color: #FEC2C2;
}

.footer-child4 .im-angle-right{
	color: #FEC2C2;
	font-size: .8rem;
}

/* Footer - Copyright */
.footer-child3{
	align-self: flex-end;
	font-family: 'Poppins', sans-serif;
	font-size: .7rem;
	color: #B9CDF2;
	text-align: center;
}


/* ----------------------------------------------------------
					Media Queries - Desktop										
------------------------------------------------------------*/

@media screen and (min-width: 768px) {
	.topbar{
		display: flex;
		flex-direction: column-reverse;
	}

	nav{
		display: block;
		width: 100%;
		position: inherit;
		margin: 0 auto;
	}

	nav ul{
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		justify-content: center;
	}

	.nav-toggle{
		display: none;
	}

	.nav-toggle-label{
		display: none;
	}

	header{
		background-color: #46526A;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main h2{
		font-size: 3rem;
	}

	.image{
		display: block;
		width: 100%;
		max-width: 400px;
		height: auto;
	}
	
}